.card {
  padding-bottom: 10px !important;
}

.cardHeader {
  display: flex; /* Utilisation de flexbox */
  width: 100%; /* Prend toute la largeur de son parent */
  justify-content: space-between; /* Les éléments se répartissent l'espace disponible */

  .card_header_item {
    width: 50%;
    line-height: none !important;
  }

  & .number {
  font-weight: 200;
  }
}
