@use '@scssVariables' as v;
.container {
  height: 100%;
  padding-bottom: 50px;
  background-image: url('../../public/pokemon-in-the-wild.png');
  background-repeat: round no-repeat;
}

.ui.card {
    margin-left: 40% !important;
}
