
.header{
    width: 100%; /* Prend toute la largeur de la page */
    text-align: center; /* Centre le contenu horizontalement */
    
    h1{
        font-family: 'Honk';
        font-weight: 600;
        font-size: 100px;
    };

    .header_info{
        font-size: 25px;
        font-family: 'Agbalumo';
    }
}