.menu {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: auto;
}

.ui list menu {
  margin-top: 0px;
  border-top: hidden;
}

.li {
  border: 0.2px solid rgba(0, 0, 0, 0.05);
  padding: 2px;
}

.btn_more {
  width: 288px;
  height: 37px;
  margin-top: 30px;
}

.li_btn_more {
  border: none;
  border-top: 0px;
}

.ui.menu {
  border: none !important;
}

.ui.card:first-child {
  margin-top: 50px !important;
}
